<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/SDChainWallet-iPad (4th generation)-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2501190</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2501190</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>4565965</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>4565965</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad3,2</string>
				<string>iPad3,3</string>
				<string>iPad3,1</string>
				<string>iPad3,6</string>
				<string>iPad3,4</string>
				<string>iPad3,5</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad (3rd generation)</string>
				<string>iPad (3rd generation)</string>
				<string>iPad (3rd generation)</string>
				<string>iPad (4th generation)</string>
				<string>iPad (4th generation)</string>
				<string>iPad (4th generation)</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPad 2-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2501193</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2501193</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>4565996</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>4565996</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad2,3</string>
				<string>iPad2,2</string>
				<string>iPad2,1</string>
				<string>iPad2,4</string>
				<string>iPad2,7</string>
				<string>iPad2,6</string>
				<string>iPad2,5</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad 2</string>
				<string>iPad 2</string>
				<string>iPad 2</string>
				<string>iPad 2</string>
				<string>iPad mini</string>
				<string>iPad mini</string>
				<string>iPad mini</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPad Air 2-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2416878</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2416878</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5207730</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5207730</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad6,11</string>
				<string>iPad6,12</string>
				<string>iPad7,6</string>
				<string>iPad7,5</string>
				<string>iPad4,1</string>
				<string>iPad4,3</string>
				<string>iPad4,2</string>
				<string>iPad5,3</string>
				<string>iPad5,4</string>
				<string>iPad6,8</string>
				<string>iPad6,7</string>
				<string>iPad4,6</string>
				<string>iPad4,5</string>
				<string>iPad4,4</string>
				<string>iPad4,9</string>
				<string>iPad4,8</string>
				<string>iPad4,7</string>
				<string>iPad5,2</string>
				<string>iPad5,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad (5th generation)</string>
				<string>iPad (5th generation)</string>
				<string>iPad (6th generation)</string>
				<string>iPad (6th generation)</string>
				<string>iPad Air</string>
				<string>iPad Air</string>
				<string>iPad Air</string>
				<string>iPad Air 2</string>
				<string>iPad Air 2</string>
				<string>iPad Pro (12.9-inch)</string>
				<string>iPad Pro (12.9-inch)</string>
				<string>iPad mini 2</string>
				<string>iPad mini 2</string>
				<string>iPad mini 2</string>
				<string>iPad mini 3</string>
				<string>iPad mini 3</string>
				<string>iPad mini 3</string>
				<string>iPad mini 4</string>
				<string>iPad mini 4</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPad Pro (12.9-inch) (2nd generation)-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2423854</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2423854</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5214559</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5214559</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad7,4</string>
				<string>iPad7,3</string>
				<string>iPad7,2</string>
				<string>iPad7,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad Pro (10.5-inch)</string>
				<string>iPad Pro (10.5-inch)</string>
				<string>iPad Pro (12.9-inch) (2nd generation)</string>
				<string>iPad Pro (12.9-inch) (2nd generation)</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPad Pro (9.7-inch).ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2432726</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2432726</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5228849</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5228849</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad6,3</string>
				<string>iPad6,4</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad Pro (9.7-inch)</string>
				<string>iPad Pro (9.7-inch)</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPhone 6s Plus-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2429178</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2429178</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5219765</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5219765</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone7,1</string>
				<string>iPhone8,2</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 6 Plus</string>
				<string>iPhone 6s Plus</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPhone 7 Plus-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2436320</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2436320</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5227197</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5227197</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone9,4</string>
				<string>iPhone9,2</string>
				<string>iPhone10,5</string>
				<string>iPhone10,2</string>
				<string>iPhone10,3</string>
				<string>iPhone10,6</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 7 Plus</string>
				<string>iPhone 7 Plus</string>
				<string>iPhone 8 Plus</string>
				<string>iPhone 8 Plus</string>
				<string>iPhone X</string>
				<string>iPhone X</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPhone 8-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2423849</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2423849</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5214569</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5214569</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone9,1</string>
				<string>iPhone9,3</string>
				<string>iPhone10,1</string>
				<string>iPhone10,4</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 7</string>
				<string>iPhone 7</string>
				<string>iPhone 8</string>
				<string>iPhone 8</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPhone SE-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2416833</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2416833</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>5207335</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>5207335</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone6,2</string>
				<string>iPhone6,1</string>
				<string>iPhone7,2</string>
				<string>iPhone8,1</string>
				<string>iPhone8,4</string>
				<string>iPod7,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 5s</string>
				<string>iPhone 5s</string>
				<string>iPhone 6</string>
				<string>iPhone 6s</string>
				<string>iPhone SE</string>
				<string>iPod touch (6th generation)</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet-iPod touch-etc.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>2501198</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>2501198</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>4565975</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>4565975</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPhone4,1</string>
				<string>iPhone5,2</string>
				<string>iPhone5,1</string>
				<string>iPhone5,3</string>
				<string>iPhone5,4</string>
				<string>iPod5,1</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPhone 4S</string>
				<string>iPhone 5</string>
				<string>iPhone 5</string>
				<string>iPhone 5c</string>
				<string>iPhone 5c</string>
				<string>iPod touch</string>
			</array>
		</dict>
		<key>Apps/SDChainWallet.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>4140545</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>4140545</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>8600136</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>8600136</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
